# Created by .ignore support plugin (hsz.mobi)

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.idea/
*.iml
*.log
/Pipfile.lock
/tests/test_result.log
/tests/**/test_result.log
/tests/allure-report/
/tests/**/allure-report/
/tests/allure-results/
/tests/**/allure-results/
/tests/.report.json
/tests/**/.report.json
/allure-results/
/allure-html/
/allure-report/
*.png
*.jpg
*.jpeg
*.xmind
*xmind*
*.DS_Store
*.report.json

/.temp/
*.venv
/venv/
/achive/